<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>POC Dinaas</title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
        />
        <meta property="og:title" content="selv" />
        <meta property="og:type" content="website" />
    </head>

    <body>
        <main class="splash">
            <p>Launching</p>
        </main>
    </body>
    <% if (htmlWebpackPlugin.options.devMode){ %>
    <script src="http://localhost:35729/livereload.js"></script>
    <% } %>
</html>
